In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
df = pd.read_csv("../Data/transcriptions_with_sex.csv")

# transcriptions_with_sex.csv

In [6]:
df

,subject_line,groundtruth,prediction,sex
0,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: Chardon firstname: Marie occupation: ...,nom: Chardon prénom: Marie date_naissance: 30 ...,femme
1,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: Lhopital firstname: Louis-Jean occupa...,nom: Lhopital prénom: Louis Jean date_naissanc...,homme
2,e6a279da-9b6f-4f49-b498-64857bc50d1e,surname: Papin firstname: Marie occupation: id...,nom: Pyrin prénom: Marie date_naissance: 55 re...,femme
3,7534deca-39e8-4f00-be17-c12460015de1,surname: Lavocat firstname: Marie link: femme ...,nom: Lavocat prénom: Marie date_naissance: 187...,femme
4,ef334a66-a504-418a-9872-e7c9db923488,surname: Benne firstname: Marguerite age: 78,nom: Benne prénom: Marguerite date_naissance: ...,femme
...,...,...,...,...
236,1d92738a-cffe-4aee-ab10-db04c37f7405,surname: Burlurut firstname: Pétronille occupa...,nom: Burlurut prénom: Gihromille date_naissanc...,femme
237,09440055-7972-4135-a537-e6c5a1f2aeb2,surname: Combey firstname: Alexandre occupatio...,nom: Comberf prénom: Alexandre date_naissance:...,homme
238,4d387278-12c3-410c-bdf0-c5c603479764,surname: Collin firstname: Marguerite occupati...,nom: Collin prénom: Marguerite date_naissance:...,femme
239,623b95de-f87c-4844-a7f7-361088eed83a,surname: Dumont firstname: Etienne link: fils ...,nom: Dumont prénom: Etienne date_naissance: 19...,homme
240,26d7839c-16a1-486e-9736-83e500fb72e5,surname: Renaut firstname: Antoinette link: be...,nom: Renaut prénom: Antoinette date_naissance:...,femme

In [6]:
# Importer les bibliothèques nécessaires
import pandas as pd

# Charger le fichier CSV dans un DataFrame Pandas
df = pd.read_csv('../Data/transcriptions_with_sex.csv')

# Compter le nombre de lignes où l'occupation est indiquée
occupation_count = df['groundtruth'].str.contains('occupation').sum()

# Afficher le résultat
print('Nombre de lignes où l\'occupation est indiquée :', occupation_count)

Nombre de lignes où l'occupation est indiquée : 199

In [7]:
occupation_count

199

In [8]:
link_count = df['groundtruth'].str.contains('link').sum()

# Afficher le résultat
print('Nombre de lignes où le "link" est indiqué :', link_count)

Nombre de lignes où le "link" est indiqué : 230

In [9]:
age_count = df['groundtruth'].str.contains('age').sum()

# Afficher le résultat
print('Nombre de lignes où le "age" est indiqué :', age_count)

Nombre de lignes où le "age" est indiqué : 200

In [10]:
bdate_count = df['groundtruth'].str.contains('birth_date').sum()

# Afficher le résultat
print('Nombre de lignes où le "birth_date" est indiqué :', bdate_count)

Nombre de lignes où le "birth_date" est indiqué : 47

In [11]:
i = 223

print('prediction: ', df[['prediction']].iloc[i-1].iloc[0], '\ngroundtruth :', df[['groundtruth']].iloc[i-1].iloc[0],'\n')

print('prediction: ', df[['prediction']].iloc[i].iloc[0], '\ngroundtruth :', df[['groundtruth']].iloc[i].iloc[0],'\n')

print('prediction: ', df[['prediction']].iloc[i+1].iloc[0], '\ngroundtruth :', df[['groundtruth']].iloc[i+1].iloc[0],'\n')

print('prediction: ', df[['prediction']].iloc[i+2].iloc[0], '\ngroundtruth :', df[['groundtruth']].iloc[i+2].iloc[0],'\n')

print('prediction: ', df[['prediction']].iloc[i+3].iloc[0], '\ngroundtruth :', df[['groundtruth']].iloc[i+3].iloc[0],'\n')

print('prediction: ', df[['prediction']].iloc[i+4].iloc[0], '\ngroundtruth :', df[['groundtruth']].iloc[i+4].iloc[0],'\n')

prediction:  nom: Mimerel prénom: Pierre date_naissance: 88 lieux_naissance: d
groundtruth : surname: Mimerel firstname: Pierre link: fils age: 8

prediction:  nom: Marmien prénom: Charles date_naissance: 12anx état_civil: s
groundtruth : surname: Marmion firstname: Charles occupation: sans prof. link: petit-fils age: 12

prediction:  nom: Choussy prénom: Albert date_naissance: 87 lieux_naissance: S profession: profevitaire
groundtruth : surname: Choussy firstname: Albert occupation: Propriétaire link: fils age: 37

prediction:  nom: Dumont prénom: Clause date_naissance: 1887 lieux_naissance: id relation: chef profession: entiinateur employeur: patron
groundtruth : surname: Dumont firstname: Blaise occupation: cultivateur link: chef employer: patron birth_date: 1857 lob: idem

prediction:  nom: Simonin prénom: Bt date_naissance: 3ean lieux_naissance: alles relation: chef
groundtruth : surname: Simonin firstname: Baptiste occupation: cult eur fermier link: chef age: 35

prediction:  nom: Autisier prénom: Antoine date_naissance: 45 lieux_naissance: Marne profession: href
groundtruth : surname: Autissier firstname: Antoine occupation: manoeuvre link: chef age: 45

In [12]:
# Définir les expressions régulières pour chaque feature
patterns = {
    'surname': r'surname:\s*(.+?)\s*(?=firstname|occupation|age|link|employer|birth_date|lob|$)',
    'firstname': r'firstname:\s*(.+?)\s*(?=surname|occupation|age|link|employer|birth_date|lob|$)',
    'age': r'age:\s*(\d+)\s*(?=surname|firstname|occupation|link|employer|birth_date|lob|$)',
    'link': r'link:\s*(.+?)\s*(?=surname|firstname|occupation|age|employer|birth_date|lob|$)',
    'occupation': r'occupation:\s*(.+?)\s*(?=surname|firstname|age|link|employer|birth_date|lob|$)'
}

# Parcourir les features et extraire les valeurs correspondantes
for feature, pattern in patterns.items():
    df[feature] = df['groundtruth'].str.extract(pattern, expand=False)

In [13]:
data = df[df.columns[3:]].copy()

In [14]:
data.to_csv('../Data/data.csv')